html {
    font-size: 20px;
}

body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}

.blue {
    color: skyblue;
}

.pink {
    color: rgb(255, 192, 203);
}

#h1font {
    /* google font からのコピー */
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* 装飾向け追記分 */
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 1.2px 1.2px 1.2px rgb(0, 0, 100);
    border-bottom: 3px solid rgb(115, 115, 114);
}

/* basicの配下 pタグを太字に設定 */
#basic p {
    font-weight: bold;
}